Flask == 2.0.1
Flask-SQLAlchemy==2.5.1
Flask-Migrate==3.0.1
ForgeryPy==0.1
marshmallow==3.13.0
Werkzeug~=2.0.1
SQLAlchemy~=1.4.22
alembic~=1.6.5
click~=8.0.1
webargs==8.0.1
pytest~=6.2.4
pyjwt~=2.1.0
